/* line 5, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 4, ../sass/index.scss */
body {
  background: #fc3;
}

/* line 8, ../sass/index.scss */
.main-title {
  margin: 20px auto;
  font-size: 32px;
  text-align: center;
}

/* line 14, ../sass/index.scss */
.main-content {
  margin: 0 auto;
  width: 800px;
  overflow: hidden;
  clear: both;
}

/* line 21, ../sass/index.scss */
.canvas-wrap {
  width: 500px;
  float: left;
}
/* line 25, ../sass/index.scss */
.canvas-wrap .copyright {
  display: block;
  font-size: 12px;
  text-align: center;
}

/* line 32, ../sass/index.scss */
.ctrl-panel {
  padding-left: 20px;
  width: 300px;
  float: left;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 38, ../sass/index.scss */
.ctrl-panel .desc {
  margin-top: 20px;
  font-size: 12px;
  line-height: 1.5em;
}

/* line 45, ../sass/index.scss */
.ctrl-list .list {
  margin-bottom: 10px;
  font-size: 0;
}
/* line 49, ../sass/index.scss */
.ctrl-list .list span {
  padding: 0 10px 0 0;
  font-size: 16px;
}

/* line 55, ../sass/index.scss */
.radio-label, .range-picker, .color-picker {
  cursor: pointer;
}

/* line 59, ../sass/index.scss */
.radio-label {
  display: inline-block;
  width: 50%;
}
/* line 63, ../sass/index.scss */
.radio-label input {
  margin-right: 10px;
}

/* line 68, ../sass/index.scss */
.btn-save {
  margin-top: 20px;
  background: #fff;
  display: block;
  width: 100%;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  text-decoration: none;
}
/* line 81, ../sass/index.scss */
.btn-save:active, .btn-save:hover, .btn-save:visited {
  color: #000;
  text-decoration: none;
}

@media screen and (max-width: 800px) {
  /* line 88, ../sass/index.scss */
  .main-content {
    width: 100%;
  }

  /* line 92, ../sass/index.scss */
  .canvas-wrap, .ctrl-panel {
    margin: 0 auto;
    padding: 0;
    width: 500px;
    float: none;
  }

  /* line 99, ../sass/index.scss */
  .canvas-wrap {
    margin-bottom: 20px;
    text-align: center;
  }
}
@media screen and (max-width: 500px) {
  /* line 106, ../sass/index.scss */
  .main-content {
    padding: 0 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  /* line 111, ../sass/index.scss */
  .canvas-wrap, .ctrl-panel {
    width: 100%;
  }
}
